<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.dongbao.oms.db.dao.OmsOrderItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msb.dongbao.oms.model.entity.OmsOrderItem">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_number" property="orderNumber" />
        <result column="product_id" property="productId" />
        <result column="product_spu_id" property="productSpuId" />
        <result column="product_pic" property="productPic" />
        <result column="product_name" property="productName" />
        <result column="product_brand" property="productBrand" />
        <result column="product_normal_price" property="productNormalPrice" />
        <result column="product_price" property="productPrice" />
        <result column="product_settlement_price" property="productSettlementPrice" />
        <result column="product_quantity" property="productQuantity" />
        <result column="product_sku_id" property="productSkuId" />
        <result column="product_sku_code" property="productSkuCode" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="product_attr" property="productAttr" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="create_by" property="createBy" />
        <result column="modified_by" property="modifiedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, order_number, product_id, product_pic, product_name, product_brand, product_normal_price, product_price, product_settlement_price, product_quantity, product_sku_id, product_sku_code, product_category_id, product_attr, gmt_create, gmt_modified, create_by, modified_by
    </sql>

</mapper>
