<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.dongbao.pms.db.dao.CategoryDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msb.dongbao.pms.model.entity.Category">
        <id column="id" property="id" />
        <result column="level" property="level" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="en" property="en" />
        <result column="sort" property="sort" />
        <result column="catid" property="catid" />
        <result column="catid_use" property="catidUse" />
        <result column="query" property="query" />
        <result column="query_use" property="queryUse" />
        <result column="weight" property="weight" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="create_uid" property="createUid" />
        <result column="create_uname" property="createUname" />
        <result column="modified_uid" property="modifiedUid" />
        <result column="modified_uname" property="modifiedUname" />
        <result column="enabled" property="enabled" />
        <result column="merchant_id" property="merchantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, level, parent_id, name, en, sort, catid, catid_use, query, query_use, weight, status, gmt_create, gmt_modified, create_uid, create_uname, modified_uid, modified_uname, enabled, merchant_id
    </sql>

</mapper>
