<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.dongbao.pms.db.dao.ProductFullReductionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msb.dongbao.pms.model.entity.ProductFullReduction">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="full_price" property="fullPrice" />
        <result column="reduce_price" property="reducePrice" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="create_uid" property="createUid" />
        <result column="create_uname" property="createUname" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="modified_uid" property="modifiedUid" />
        <result column="modified_uname" property="modifiedUname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, full_price, reduce_price, start_time, end_time, gmt_create, create_uid, create_uname, gmt_modified, modified_uid, modified_uname
    </sql>

</mapper>
